.profileMenu__container{
    position: absolute;
    right: 1.5px;
    min-height: calc(100vh - 80px);
    background: #f4e7df;
    width: 250px;

    .profile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 20px 10px;
        min-height: 168px;
        img{
            border-radius: 50%;
        }

        p{
            font-size: 15px;
            word-break: break-word;
        }

        .profile__pic{
            width: 80px;
            object-fit: cover;
            opacity: 0.7;
        }
    
    }

    .questions__menu{
        border: 2px solid #000000;
        height: fit-content;
        padding: 8px 0px;
        overflow: auto;
    
    }

    .info__menu{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        font-size: 14px;

        >div{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 5px;
            padding: 5px 6px;
        }
    }


    .answered>p{
        background: #52ca52;
        padding: 2px 6px;
        border-radius: 12px 12px 0px 0px;
        color: #ffffff;
        width: fit-content;
        
    }

    .not__answered>p{
        background: red;
        padding: 2px 6px;
        border-radius: 0px 0px 25px 25px;
        color: #ffffff;
        width: fit-content;

    }

    .not__visited>p{
        background: #d6c13f;
        padding: 2px 6px;
        width: fit-content;

    }

    .marked>p{
        background: #a9a8e1;
        padding: 2px 6px;
        border-radius: 50%;
        color: #ffffff;
        width: fit-content;


    }

    .answered__marked>p{
        background: #e98ec0;
        padding: 2px 6px;
        color: #ffffff;
        width: fit-content;


    }
    .quiz__title{
        background: #69a3c2;
        padding: 5px 10px;
        font-size: 18px;
        color: #ffffff;
        margin: 8px 0px;
    }

    .question__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 6px;
        font-size: 22px;
        cursor: pointer;

        .quest__item>p{
            width: 50px;
            height: 50px;
            text-align: center;
        }
    }

    .submit__btn{
        text-align: center;
        button{
            color: #ffffff;
            background: #4ca670;
            margin: 8px;
            padding: 6px 12px;
            width: 50%;
            border: none;
            outline: none;
            font-size: 18px;
        }
    }
}