.header__container{
    height: 80px;
    background-color: #69a3c2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    padding: 8px 16px;
    color: #ffffff;

    .header__logo{
        width: 100px;
        object-fit: cover;
    }

    .header__title{
        font-size: 22px;
        font-weight: 500;
    }
}