.question__container{
    min-height: calc(100vh - 80px);
    width: calc(100vw - 250px);
    position: absolute;
    padding: 4px;

    .question__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
        padding: 0px 10px;
    }

    .question{
        .question__no{
            font-weight: 600;
            font-size: 18px;
            padding-left:3px 10px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
        .question__text{
            padding: 10px;
            font-size: 18px;
        }

        .selected{
            background-color: #1178b9;
            color: #ffffff;
            &:hover{
                background-color: #1178b9;
                color: #ffffff; 
            }
        }


        ul{
            list-style: none;
            li{
                border: 1px solid #cccccc;
                border-radius: 25px;
                padding: 10px 20px;
                margin: 20px 0px;
                max-width: 400px;
                word-wrap: break-word;
                cursor: pointer;

                &:hover{
                    background-color: #efefef;
                }
            }
        }



    }


    .question__action{
        position: absolute;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        button {
            border: 1px solid black;
            margin: 6px 10px;
            padding: 4px 14px;
            border-radius: 4px;
            background-color: #ffffff;
        }

        .save__btn{
            color: #ffffff;
            border-color: #1178b9;
            background-color: #1178b9;
        }
    }

    


}

.submit__modal{
    background-color: rgba(#000, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;

    >div{
        background: #ffffff;
        width: max(300px, 40%);
        position: absolute;
        top: 25%;
        left: 30%;
        padding: 15px 25px;

        p{
            text-align: center;
        }

        .submit__btnGroup{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            button{
                text-align: center;
                border: 1px solid black;
                margin: 6px 10px;
                padding: 4px 14px;
                border-radius: 4px;
                background-color: #ffffff;
                

                &:first-child:hover{
                    background-color: #1178b9;
                    border-color: 1178b9;
                    color: #ffffff;
                }

                &:last-child:hover{
                    background-color: red;
                    border-color: red;
                    color: #ffffff;
                }
            }
        }

        
    }
}

.quiz__timer{
    position: relative;
    .quiz__time{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 5px 10px;
        font-size: 18px;
    
        .time__left{
            font-weight: 600;
        }

    }
}

.mobile-show{
    display: none;
}

@media screen and (max-width:768px) {
    .question__container .question__info{
        flex-direction: column;
    }
}

@media screen and (max-width:576px) {
    .question__container .question__info{
        flex-direction: column;
    }

    .profileMenu__container {
        display: none;
    }

    .question__container{
        width: 100%;

        .question__action{
            flex-direction: column;
        }
        .submit__btn{
            text-align: center;
            button{
                color: #ffffff;
                background: #4ca670;
                margin: 8px;
                padding: 8px 20px;
                width: 100%;
                border: none;
                outline: none;
                font-size: 18px;
            }
        }
    }
    .mobile-show{
        display: block;
    }
    .submit__modal>div{
        left: 10%;
    }

}